<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tab_Box</title>
    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"    rel="stylesheet" media="screen"/>
    <link href="../../static/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora&amp;subset=cyrillic" rel="stylesheet">
</head>
<body>
    <div class = "container">
        <img class = "row text-left box_im" src="../../static/images/logo1_2.png">
        <h1 class = "tab_h">Список постов экологического мониторинга</h1>
        <div th:if="${not #lists.isEmpty(devices)}">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Адрес</th>
                    <th>Показания</th>
                </tr>
                <tr th:each="device : ${devices}">
                    <td th:text="${device.id}"><a href="/device/${device.id}">Id</a></td>
                    <td th:text="${device.name}">Product Id</td>
                    <td><a th:href="${ '/device/' + device.id}">Подробнее...</a></td>
                </tr>
    </div>
</body>
</html>