<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
</head>
<body>
    <div th:fragment = "header">
        <div class = "container-fluid main">

            <div id="panel" class="row">

                <div class="button_main pull-left text-center col-lg-1">
                    <p class="button_text"><a th:href="@{map.html}">Посты Ecobox</a></p>
                </div>

                <div class="button_main pull-right text-center col-lg-1">
                    <p class="button_text">Пенза</p>
                </div>

                <div>
                    <img id="logo_index" class="img-responsive center-block" src="/images/Design/logo_v1-2.png"/>
                </div>

                <div class="col-xs-12">
                    <button class = "but center-block">Жми</button>
                </div>

                <script type="text/javascript">
                    function scroll() {
                        $("#logo_index").attr("src","/images/Design/Group.png");
                        $(this).attr("src", "/images/Design/Group.png");
                    }
                    $(document).ready(function(){
                        $("#after_scroll").hide();
                        $(".but").click(function(){
                            $("#panel").css({"min-height": "10vh"});
                            $("#after_scroll").show();
                            $(".but").hide();
                            $("#logo_index").animate({height: "57", width: "47"}, 500);
                            /*$("#logo_index").animate({height: 'S{".button_text"}.height()', width: "S{'.button_text'}.width()"}, 500);*/
                            setTimeout(scroll,500);
                        });
                    });
                </script>

            </div>

            <div id="after_scroll" class="row">

                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-md-offset-2 col-lg-offset-3">
                    <img class="box_index img-responsive center-block" th:src="@{/images/Design/logo_v3_1.png}"/>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
                    <ul class="list_sensors text-center">
                        <li>
                            Датчик PM
                        </li>
                        <li>
                            Датчик NO
                        </li>
                        <li>
                            Датчик °C
                        </li>
                        <li>
                            Датчик %
                        </li>
                        <li>
                            Датчик ДБ
                        </li>
                    </ul>
                </div>

                <div class="col-xs-12 footer text-center center-block">
                    <h1><a th:href="@{contacts.html}">Контакты</a></h1>
                </div>

            </div>

        </div>
    </div>
</body>
</html>