<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
</head>
<body>
    <div class = "container">
        <div th:fragment = "header">
            <div class="row text-center">
                <img th:src="@{/images/logo1_2.png}"/>
                <h1>Ecomon</h1>
                <h3>Penza</h3>
                <div class = "container menu">
                    <p>
                        <span><a href="map.html" th:href="@{map.html}">Карта </a></span>
                        <span><a th:href="@{stations.html}">Посты </a></span>
                        <span><a href="contacts.html">Контакты</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>