<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">

</head>
<body>
<!--<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">На главную</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/stations}">Устройства</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <div class="jumbotron">
            <div class="row text-center">
                <div class="">
                    <h2>Ecomon</h2>

                    <h3>Система экологического мониторинга</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/jumbotron.jpg" width="100%"
                     th:src="@{/images/jumbotron.jpg}"/>
            </div>
        </div>
    </div>
</div>-->
</body>
</html>