<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      >
<head lang="en">

    <title>Spring Framework Guru</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
=

=
    <h2 th:text="${device.name}"></h2>
    <div>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">ИД:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${device.id}">Product Id</p></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Именование:</label>
                <div class="col-sm-10">
                    <p class="form-control-static" th:text="${device.name}">description</p>
                </div>
            </div>
            <div class="form-group" th:each="sensor : ${device.sensors}">
                <script th:inline="javascript">
                    //<![CDATA[
                    window.onload = function () {
                        var that = this;

                        that.dps = []; // dataPoints

                        that.chart = new CanvasJS.Chart("chart-[[${sensor.id}]]",{
                            title :{
                                text: "[[${sensor.name}]]"
                            },
                            data: [{
                                type: "line",
                                dataPoints: that.dps
                            }],
                            axisY:{
                                title: "Температура",
                                tickLength: 10,
                                interval: 1
                            },
                            axisX:{
                                valueFormatString: "HH:mm:ss",
                                title: "Время",
                            },
                        });


                        that.updateChart = function (data) {
                                that.dps.push({
                                    x: new Date(data.time),
                                    y: parseFloat(data.data)
                                });
                            if (that.dps.length > 500)
                            {
                                that.dps.shift();
                            }

                            that.chart.render();

                        };
                        that.socket = new SockJS('/gs-guide-websocket');
                        that.stompClient = Stomp.over(socket);
                        that.stompClient.connect({}, function (frame) {
                            console.log('Connected: ' + frame);
                            stompClient.subscribe('/topic/greetings', function (message) {
                                var msg = JSON.parse(message.body);
                                that.updateChart(msg);
                            });
                        });
                        setInterval(function(){
                            that.stompClient.send("/app/hello", {}, JSON.stringify({'name': [[${sensor.id}]]}));
                        }, 50);

                    }
                    //]]>
                </script>
            <div th:id="'chart-' + ${sensor.id}" ></div>
            </div>
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label">Image Url:</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<p class="form-control-static" th:text="${device.imageUrl}">url....</p>-->
                <!--</div>-->
            <!--</div>-->
        </form>
    </div>
</div>

</body>
</html>