<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head lang="en">
    <title>Spring Framework Guru</title>
    <link href="https://fonts.googleapis.com/css?family=Lora&amp;subset=cyrillic" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"    rel="stylesheet" media="screen"/>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"/>
    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
    <div class = "container">
        <div class="row text-center">
            <img th:src="@{/images/logo1_2.png}"/>
            <h1>Ecomon</h1>
            <h3>Penza</h3>
            <div class = "container-fluid menu">
                <p class = "menu">
                    <span><a href="map.html" th:href="@{map.html}">Карта </a></span>
                    <span><a th:href="@{stations.html}">Посты </a></span>
                    <span><a href="contacts.html">Контакты</a></span>
                </p>
            </div>
        </div>
    </div>
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
</body>
</html>